body,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
.portfolio-entry-content h3 a {
  color: #555;
}
* {
  padding: 0px;
  margin: 0px;
}
html,
body {
  font-size: 10px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #656B7A;
}
#header,
footer,
body {
  background-color: #26292D;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  display: block;
}
#header {
  padding: 2rem 0 0 0;
}
#header .container {
  width: 90%;
  padding-bottom: 1rem;
}
#header #logo {
  max-height: 6rem;
  max-width: 6rem;
  padding: 0rem;
  margin-left: 1.5rem;
}
#header #logo img {
  height: 6rem;
  max-width: 100%;
}
#header .navbar {
  position: relative;
  margin-top: 1.8rem;
  margin-right: -7rem;
}
#header .navbar a {
  color: #fff;
  font-size: 1.8rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#header .navbar a:hover {
  color: #48ACD6;
  background-color: transparent;
}
#header .navbar .active {
  color: #48ACD6;
}
#header .navbar form input {
  width: 0rem;
  border-radius: 1.5rem;
  background-color: transparent;
  background: #ffffff url('../img/search.png') no-repeat 0.5rem center;
  font-family: inherit;
  -webkit-appearance: textfield;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#header .navbar form input:focus {
  width: 12rem;
  background: #ffffff url('../img/search.png') no-repeat 0.5rem center;
  appearance: textfield;
  padding: 0 3rem;
}
.wrapper .container {
  width: 95%;
  padding: 1rem;
  height: 100%;
}
.wrapper .container h1 {
  font-size: 4rem;
  font-family: 'Merriweather', serif;
  line-height: 4rem;
  color: #363a3d;
}
.wrapper .container h3 {
  margin-top: 0rem;
  color: #363a3d;
}
.wrapper-primary {
  width: 100%;
  background: #F5F5F5;
}
.wrapper-primary .container {
  margin-bottom: 1rem;
}
.wrapper-primary .primary-heading {
  width: 100%;
  background-color: #fff;
  margin: 0;
}
.wrapper-primary .primary-heading h2 {
  color: #363A3D;
  font-family: inherit;
  padding-top: 2rem;
}
.wrapper-primary .primary-heading h4 {
  color: #555555;
  font-family: inherit;
}
.wrapper-primary .primary-heading a {
  color: #48ACD6;
  text-decoration: none;
}
.wrapper-primary .primary-heading a:hover {
  color: #26002D ;
}
.wrapper-primary article {
  position: relative;
  width: 33.3%;
  margin-bottom: 2rem;
}
.wrapper-primary article img {
  width: calc(100%);
}
.wrapper-primary article .context {
  height: 6.2rem;
  background-color: #fff;
  width: 100%;
  -webkit-box-shadow: 0rem 0.1rem 0rem 0rem rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0rem 0.1em 0rem 0rem rgba(0, 0, 0, 0.03);
  box-shadow: 0rem 0.1rem 0rem 0rem rgba(0, 0, 0, 0.03);
  padding-left: 4%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.wrapper-primary article a {
  text-decoration: none;
  color: #555;
  line-height: 5rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 155%;
  display: block;
  width: 100%;
  overflow: hidden;
}
.wrapper-primary article a:hover .color-overlay {
  visibility: visible;
  opacity: 0.7;
  display: block;
  tranition: all .5s;
}
.wrapper-primary article a .color-overlay {
  width: 93%;
  height: 78%;
  background-color: #00A7D7;
  position: absolute;
  top: 0;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  padding-top: 25%;
  transition: all 0.5s;
}
.wrapper-primary article .pay {
  width: 4.2rem;
  height: 4.2rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #26292D;
  position: absolute;
  bottom: -9%;
  right: 10%;
}
.wrapper-primary article .pay a {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  line-height: 4.2rem;
  padding-left: 1.1rem;
  color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
}
.wrapper-primary article .pay a:hover {
  color: #23527c;
  transition: all .5s;
}
.wrapper-primary .pagination {
  width: 100%;
  margin: 0;
}
.wrapper-primary .pagination a {
  font-size: 140%;
  position: relative;
  left: 4rem;
}
.wrapper-primary .pagination a:hover {
  color: #48ACD6 ;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.footer .footer_head {
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid #3C3F42;
}
.footer .footer_head .row {
  margin-top: 3.6rem;
}
.footer .footer_head .row .text_content {
  padding: 0 2%;
  margin-bottom: 2.4rem;
}
.footer .footer_head .row .text_content h5 {
  color: #fff;
  font-size: 160%;
}
.footer .footer_head .row .text_content p {
  color: #a8a9ab;
  line-height: 1.1em;
  margin: 0 0 1rem;
  font-size: 140%;
}
.footer .footer_head .row .text_content input {
  font-weight: bold;
  height: 4rem;
  margin: 1.4rem 4% 1.4rem 0;
  text-indent: 0.5rem;
  width: 58%;
  min-width: 13rem;
}
.footer .footer_head .row .text_content button {
  font-weight: bold;
  transition: all .5s;
  margin-bottom: 1rem;
}
.footer .footer_head .row .text_content a {
  text-decoration: none;
  font-size: 160%;
  margin-left: 4%;
}
.footer .footer_head .row .text_content a:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.footer .footer_btm {
  line-height: 5rem;
}
.footer .footer_btm span {
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-size: 160%;
}
.footer .footer_btm .navbar a {
  color: #3DACD6;
  font-size: 1.8rem;
}
.footer .footer_btm .navbar a:hover {
  color: #23527c;
  background-color: transparent;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
@media screen and (max-width: 768px) {
  #header #logo {
    width: 100%;
    margin-left: 45%;
  }
  #header #navbar {
    width: 100%;
    overflow: hidden;
  }
   #header .navbar{
    width:32rem;
    clear: both;
    display:block;
    margin-right:5%;
  }
  #header .navbar li {
    float: left;
  }
  #header .navbar-nav{
    margin:0 auto;
  }
  #header .navbar li a {
    padding-right: 0;
    padding:1rem 0.5rem;
  }
  #header .navbar form {
    width: 29rem;
    float: left !important;
    margin: 1%;
  }
  #header .navbar form input:focus {
    width: 27rem;
  }
  footer .footer_btm span {
    clear: both;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  footer nav {
    width: 85%;
    clear: both;
    display: inline-block;
  }
  footer nav li {
    float: left;
  }
}
@media screen and (max-width: 480px) {
  #header #logo {
    width: 0;
    height: 0;
  }
  #header #navbar {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
  }
  #header .navbar {
    margin-right: 0;
    width: 100%;
    clear: both;
    margin-top: 0;
  }
  #header .navbar li {
    margin-right: 0;
    float: left;
  }
  #header .navbar li a {
    font-size: 14px;
    padding:1rem 0.5rem;
  }
  #header .navbar form {
    width: 20rem;
    float: left !important;
    margin: 1%;
  }
  #header .navbar form input:focus {
    width: 18rem;
  }
  .wrapper .container h1,
  h3 {
    font-size: 125%;
    line-height: 125%;
  }
  .wrapper-secondary a {
    margin: 2% auto;
  }
  .wrapper-primary .row {
    margin: 0 auto;
  }
  .wrapper-primary .row article {
    width: 100%;
    margin-top: 8%;
  }
  footer .footer_btm span {
    clear: both;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  footer nav {
    display: none;
  }
}
